*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars

__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
venv/

.ipynb_checkpoints/
*.log

.env
.env.local
secrets/

*.bento
bento_bundle/

.DS_Store

monitoring/evidently/reports/
data/
mlruns/
ml-flow/src/data/processed/

.terraform.lock.hcl
model/*
